.card-item {
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 8px;
    margin: 10px;
    background-color: rgb(235, 235, 92);
}

.card-control-options {
    display: flex;
    align-items: center;
    margin-top: 0rem;
}

.card-control-options button {
    margin-right: 0.5rem;
    /* border: none; */
    background-color: transparent;
}
