.card-item {
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 8px;
    margin: 10px;
    background-color: hsla(324, 70%, 79%, 0.613);
}

.card-control-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-control-options button {
    border:none ;
    background-color: transparent;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 0px;
}