.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.individual-cards ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* 
#board-title {
    text-transform: uppercase;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */
