.board-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
}


.input-wrapper input {
  background-color: white;
  color: black
}

.submit-button-wrapper input {
  font-size: 14px;
  background-color: white;
  color: black;
  border: solid black 1px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
}

