#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #fffcfc;
}

.existing-boards-container {
  margin-top: 2rem;
}

#hidden {
  display: none;
} 