:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(6, 6, 6, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

.box {
  margin: 0;
  display: flex;
  /* place-items: center; */
  align-items: flex-start;
  /* min-width: 320px;
  min-height: 100vh; */
}

.box .boards-container {
  background-color: rgb(241, 242, 243);
  border: 2px solid rgb(18, 20, 21);
  border-radius: 5px;
  padding: 10px;
  margin-right: 300px;
  margin-left: 150px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.existing-boards-container {
  border: #d2caca;
  border-radius: 10px ;
}

.existing-boards-container ul {
  list-style-type: none;
  margin-top: 2rem;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: black;
  font-family: inherit;
  background-color: #ebe3e3;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 1rem;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #c0c9d0;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
