:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(6, 6, 6, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.box .boards-container {
  background-color:white;
  border: 2px solid rgb(18, 20, 21);
  border-radius: 20px;
  padding: 25px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.existing-boards-container {
  border: white;
  border-radius: 10px;
  align-items: center;
}

.existing-boards-container ul {
  list-style-type: none;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: black;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #f2f2f6;
  }
  button {
    background-color: #f9f9f9;
  }
}
